In [1]:
# Import modules 
import functions as func
import data as d
import visualizations as viz
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Import data

data = d.brand_data

In [3]:
# Create dataframe with user specifications

start_date='2018-06-01'

end_date='2022-08-1'

brand = func.brand_df(data,'TAJIN',start_date,end_date)

brand.head()

                   Sales
Date
2018-07-01  3.847494e+06
2018-08-01  3.466863e+06
2018-09-01  2.409600e+06
2018-10-01  2.188861e+06
2018-11-01  1.365649e+06

In [4]:
# Run Facebook Prophet
len(brand.index)

49